tmp_build_dir
bazel-*
bin/WorkspaceTools
bin/PodSpecToBUILD
*.xcworkspace
!BazelExtensions
xcuserdata
.build
bin/Compiler
bin/RepoTools
compile_commands.json
*.xcode_select_env
*.pyc
external
Pods/
PodsHost/
*.xcworkspace
PodToBUILD.zip
.DS_Store

**/*.idea