language: generic
os:
  - osx
before_install:
  - sudo gem install cocoapods
cache:
  directories:
    - $HOME/.bazelenv
    - $HOME/Library/Caches/Bazel
    - $HOME/.bazel_pod_store
osx_image: xcode10.2
script: make ci
